





<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Offers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Offers</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-badge color="primary">11</ion-badge>
<ion-badge color="secondary">22</ion-badge>

  <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="true"
    [displayPlaylist]="msaapDisplayPlayList" (trackEnded)="onEnded($event)"
        [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
        [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist"
        [displayDuration]="msaapDisplayDuration" [expanded]="true"></ngx-audio-player>

  <!-- <app-explore-container name="AI for accessibility"></app-explore-container> -->
</ion-content>
