<ion-header translucent>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header translucent>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>00011405467</ion-label>
      <ion-badge slot="end">22,10044.00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>00011405468</ion-label>
      <ion-badge slot="end">52,10044.00</ion-badge>
    </ion-item>
  </ion-list>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Credit Card</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>40001140546</ion-label>
      <ion-badge color="danger" slot="end">10044.00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>40001140468</ion-label>
      <ion-badge color="danger" slot="end">10044.00</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>



