<!--<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>-->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Vector Bank</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>





<!-- fab placed to the (vertical) center and end -->
<ion-fab vertical="center" horizontal="end" slot="fixed">
  <ion-fab-button color="danger">
    <ion-icon name="play"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>