<ion-content fullscreen *ngIf="showSplash">
  <div style="background: #2c66cc;height:100% ">
    <div class="lds-circle" style="margin-left: 39%;margin-top: 50%;">
      <div></div>
    </div>
    </div>
</ion-content>

<ion-header *ngIf="!showSplash">
  <ion-toolbar color="primary">
    <ion-title>Vector Bank</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




    <ion-card  (click)="onPress($event)" *ngIf="!showSplash">
      <img src="./assets/bank.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Hello, Dear Customer</ion-card-subtitle>
        <ion-card-title color="primary">
          <img src="./assets/Face-ID-1200.jpg" />
          
          Please press anywhere on the screen to login Face Id. App will scan your face to verify your authentication.
        </ion-card-title>
      </ion-card-header>
      <ion-card-content style="height: 100%;"> 
        &nbsp;
        <br>

      </ion-card-content>
    </ion-card>



<!-- fab placed to the (vertical) center and end -->
<ion-fab vertical="center" horizontal="end" slot="fixed" *ngIf="!showSplash">
  <ion-fab-button color="danger">
    <ion-icon name="play"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-app *ngIf="showRoute && !showSplash">
  <ion-router-outlet></ion-router-outlet>
</ion-app>